<article class="post">
    <div class="whole-post">
        <div class="info-section">
            <div class="post-name">
                <a href="/post/{{id}}" class="links">{{title}}</a>
            </div>
            <div class="created-by">
                <p id="comment-subtitle">
                    Posted by <b>{{user.username}} </b> on <b>{{formatDate created_at}}</b>
                </p>
            </div>
        </div>
        <div class="content-section">
               
                <br><img class="recordImage" src={{img_url}} alt="recordImage" />
                <br>Band: {{band_name}}
                <br>Album: {{album_name}}
                <br>Genre: {{genre}}
                <br>Price: ${{price}}
                <br>In Stock: {{stock}}
          
        </div>
    </div>
</article>