<a href="/dashboard" class="go-back"> &larr; Back to dashboard</a>

<article class="new-page">
    <section class="edit-form-page">
        <div class="form-heading">
            <h2>
                Edit Post
            </h2>
        </div>
        <div class="form-section">
            <form class="edit-post-form">
                <div class="post-title-section">
                    <label for="post-title">Title</label>
                    <input type="text" name="post-title" id="post-title" value="{{post.title}}" />
                </div>
                <div class="image-btn col-md-12 ml-auto justify-content-md-center">
                    <label for="post-url">Image</label>
                    <input type="file" id="post-url" name="post-url" value="{{post.img_url}}"/>
                </div>
                <div class="post-band-name">
                    <label for="post-band-name">Band or Artist Name</label>
                    <input type="text" id="post-band-name" name="post-band-name" value="{{post.band_name}}"/>
                </div>
                <div class="post-album-name">
                    <label for="post-album-name">Album Name</label>
                    <input type="text" id="post-album-name" name="post-album-name" value="{{post.album_name}}"/>
                </div>
                <div class="post-genre">
                    <label for="post-genre">Genre</label>
                    <input type="text" id="post-genre" name="post-genre" value="{{post.genre}}"/>
                </div>
                <div class="post-price">
                    <label for="post-price">Price</label>
                    <input type="text" id="post-price" name="post-price" value="{{post.price}}"/>
                </div>
                <div class="post-stock">
                    <label for="post-stock">Stock</label>
                    <input type="text" id="post-stock" name="post-stock" value="{{post.stock}}"/>
                </div>



                <button type="submit">Update Post</button>
                <button type="button" class="delete-post-btn">Delete Post</button>
            </form>
        </div>
    </section>
</article>

{{#if loggedIn}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
{{/if}}